.Instruction {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    background-image: url('/public/listva-1.jpg');
    background-size: cover;
    background-position: center;
    color: #ffff;
    padding-top: 50px;
}

.Instruction p {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

img {
    width: 180px;
    height: 200px;
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26vh;
    margin-left: 10vw;
    margin-right: 10vw;
}